.aligned {
    align-content: center;
}
  
  .login-box {
    width: 90%;
    margin: auto;
    height: auto;
    border-radius: 5px;
    padding: 10px;
  }

  .align {
    text-align: center;
    margin: auto;
    padding-top: 6px;
    }

    .img{
        padding-top: 20px;
        padding-bottom: 15px;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        border: groove;
        margin: auto;
        border-color: #000000;
    }