<ion-header>
  <ion-toolbar>
    <ion-title color="primary" class="aligned">
      Star Ships
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title color="primary" class="align">Start Wars Ships</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="ion-padding" align="center" class="img">
        <img src="./../../../assets/images/Starwars.jpeg">
      </div>
    </ion-card-content>
  </ion-card>

  <div *ngFor="let ships of starShips">
    <ion-card color="primary" *ngFor="let num of ships.results">
      {{ num.name }}
    </ion-card>
  </div>
</ion-content>
