<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="films">
      <ion-icon name="film-outline"></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vehicles">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Vehicles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="starships">
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label>Star Ships</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>